
.addMessageBtn {
    margin: 0px;
    top: auto;
    right: 165px;
    bottom: 20px;
    left: auto;
    position: fixed;

}

.messageCard {
    margin: 6px;
}

.UserDate {
   text-indent: 10px;
}

.CommentCard{
    width: 400px;
    /* display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap; */
    margin: 6px;
    text-emphasis: wrap;
}

.UserIdComments{
    margin: 6px;
    margin-left: 20px;
}

.userComments {
    padding-left: 10px;
    padding-top: 10px;
    margin: 5px;
}

.commentUser {
    margin-left: 25px;
    padding-left: 25px;
}