.PersonTable {
    width: 400px;
    overflow-x: auto;
    height: 220px;
    position: sticky;
}

.tableTitle {
    padding-left: 25px;
}
.PTHead {
    
    position: sticky;
    top: 0,
}

.PersonTableBody {
    overflow-x: scroll;
    overflow-y: scroll;
    display: flex;
}

.MessageTable{
    width: 395px;
    overflow-x: auto;
    height: 220px;
}

.TableHeadRow{
    background-color: rgb(64, 206, 132);
    position: sticky;
    top: 0;
}

.MessageTableBody {
    overflow-x: scroll;
    overflow-y: scroll;
}