.table {
    width: 400px;
    overflow-x: auto;
    height: 220px;
}
.sticky {
    
}
.PTHead {
    
    position: sticky;
    top: 0,
}

.PersonTableBody {
    overflow-x: scroll;
    overflow-y: scroll;
    display: flex;
}

.MTHead {
    position: sticky;
    top: 0,
}

.MessageTableBody {
  
    overflow-x: scroll;
    overflow-y: scroll;
}