.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  overflow: hidden;
  background-color: #186842;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color:#186842;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #a1c671;
}

.nav-right {
  float: right;
}

.drawer-link {
  text-decoration: none;
  color: black;
}

.messageLink {
  text-decoration: none;
  color: black;

}